<a href="https://colab.research.google.com/github/Emaperidol/Machine-Learning-in-Healthcare-Basics/blob/main/Lecture_1_Notes_Intro_to_Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Google Colab Intro

YouTube short video:
https://www.youtube.com/watch?v=inN8seMm7UI

# Introduction to Python Programming

## Assignment and printing

In [ ]:
# Assign values to a variable
x = 3

In [ ]:
# Print the value of x
print(x)

3

## Strings

In [ ]:
# Assign a string to a variable
s1 = 'hello'

In [ ]:
 # Return the number of characters in a string
 len(s1)

5

In [ ]:
# Return a string with the values inserted
a = 5
b = 2
c = 7
f"{a} plus {b} is {c}"

'5 plus 2 is 7'

In [ ]:
# Split the string into a list of strings by white space
s3 = 'I like drinking tea'
s3.split()

['I', 'like', 'drinking', 'tea']

In [ ]:
# Remove any leading (at the beginning) and trailing (at the end) space
apple = ' apple '
apple.strip()

'apple'

## Numeric types and math operations

In [ ]:
# Convert the string "5" to the integer 5 and assign the result to i
i = int('5')
i

5

In [ ]:
# Convert the string "2.5" to the float value 2.5 and assign the result to f
f = float('2.5')
f

2.5

In [ ]:
# Raise 3 to the power of 2
3 ** 2

9

In [ ]:
# 55           รท          9           =         6           and         1
# dividend             divisor               quotient               remainder
print(55 / 9) # division
print(55 // 9) # quotient
print(55 % 9) # remainder

6.111111111111111
6
1

In [ ]:
# Assign the value of x + 1 to x
x = 5
x += 1
x

6

In [ ]:
# Assign the value of x - 1 to x
x = 5
x -= 1
x

4

## Lists

In [ ]:
# Assign a list containing the integers 100, 21, 88, and 3 to the variable l
l = [100, 21, 88, 3]
l

[100, 21, 88, 3]

In [ ]:
# Create an empty list and assign the result to l
l = list() # option 1
l = [] # option 2
print(l)

[]

In [ ]:
# Return the first/last value in the list l
l = [100, 21, 88, 3]
print(l[0]) # first value
print(l[3]) # last value
print(l[-1]) # last value

100
3
3

In [ ]:
# Return a slice of a list containing the second and third values of l
# (excluding position 3)
print(l[1:3])

[21, 88]

In [ ]:
# Return the number of elements in l
len(l)

4

In [ ]:
# Return the sum, min, and max of element of l
print(sum(l))
print(min(l))
print(max(l))

212
3
100

In [ ]:
# Append the value 16 to the end of l
l.append(16)
print(l)

[100, 21, 88, 3, 16]

In [ ]:
# Convert the list ['A', 'B', 'C', 'D'] into the string "A B C D"
# (with space in-between)
' '.join(['A', 'B', 'C', 'D'])

'A B C D'

In [ ]:
# tuple (= immutable list) and zip function
a = ('John', 'Charles', 'Mike')
b = (53, 29, 44)
x = zip(a, b)
list(x)

[('John', 53), ('Charles', 29), ('Mike', 44)]

## Dictionaries

In [ ]:
# Create a dictionary with keys of 'CA', 'GB', and 'IN' and
# corresponding values of 'Canada', 'Great Britain', and 'India'
d = {'CA': 'Canada', 'GB': 'Great Britain', 'IN': 'India'}
print(d)

{'CA': 'Canada', 'GB': 'Great Britain', 'IN': 'India'}

In [ ]:
# Return the value from the dictionary d that has the key 'GB'
d['GB']

'Great Britain'

In [ ]:
# Return a list of the keys from d
d.keys()

dict_keys(['CA', 'GB', 'IN'])

In [ ]:
# Return a list of the values from d
d.values()

dict_values(['Canada', 'Great Britain', 'India'])

In [ ]:
# Return a list of (key, value) pairs from d
d.items()

dict_items([('CA', 'Canada'), ('GB', 'Great Britain'), ('IN', 'India')])

## Modules and functions

In [ ]:
# Import the module random
import random

In [ ]:
# Import the function sqrt from the module math
from math import sqrt

In [ ]:
# Define a new function with two required and one optional arguments that
# calculates and returns result
def calculate(value_one, value_two, exponent = 1):
  result = (value_one + value_two) ** exponent
  return result
print(calculate(2, 1))
print(calculate(2, 1, 2))

3
9

In [ ]:
# A one-line simple function
(lambda x: x ** 2)(5)

25

## Boolean comparisons

In [ ]:
# Assign x, name, l, and dic
x = 18
name = 'alfred'
l = [1, 2, 5, 19, 20]
dic = {'A': 1, 'B': 2, 'C': 3}

print(x == 5) # test whether x is equal to 5
print(x != 5) # test whether x is not equal to 5
print(x > 5) # test whether x is greater than 5
print(x < 5) # test whether x is less than 5
print(x >= 5) # test whether x is greater than or equal to 5
print(x <= 5) # test whether x is less than or equal to 5
print(x == 5 or name == 'alfred') # test whether x is equal to 5 or name is equal to "alfred"
print(x == 5 and name == 'alfred') # test whether x is equal to 5 and name is equal to "alfred"
print(5 in l) # check whether the value 5 exists in the list l
print('A' in dic) # check whether 'A' is a key in dic

False
True
True
False
True
False
True
False
True
True

## If statement and loops

In [ ]:
# Test the value of the variable x and run the code body based on the value
x = 3
if x > 5:
  print("{} is greater than five".format(x))
elif x < 0:
  print("{} is negative".format(x))
else:
  print("{} is between zero and five".format(x))

3 is between zero and five

In [ ]:
# Iterate over each value in a range or list
for value in range(10):
  print(value)
print('\n')
for item in [1, 5, -2, -7, 10]:
  print(item)

0
1
2
3
4
5
6
7
8
9


1
5
-2
-7
10

In [ ]:
# Enumerate function
l = [44, 55, 66, 77, 88]
for index, value in enumerate(l):
  print(index, value)

0 44
1 55
2 66
3 77
4 88

## List comprehension

In [ ]:
# Construct a new list with selected items from the original list
fruits = ['apple', 'banana', 'cherry', 'kiwi', 'mango']
newlist = []
for x in fruits:
  if 'a' in x:
    newlist.append(x)
print(newlist)

['apple', 'banana', 'mango']

In [ ]:
# Use list comprehension to do the above task
# newlist = [expression for item in iterable if condition == True]
newlist = [i for i in fruits if 'a' in i]
print(newlist)

['apple', 'banana', 'mango']

# Numpy Basics

In [ ]:
# Import numpy
import numpy as np

## Create arrays

In [ ]:
# Create a rank-1 array (which has a single row)
a1 = np.array([1,2,3])
print(a1)

[1 2 3]

In [ ]:
# Create a rank-2 array (which has rows and columns)
a2 = np.array([[1,2,3],[4,5,6]])
print(a2)

[[1 2 3]
 [4 5 6]]

In [ ]:
# Create a rank-3 array (with a shape of (depth, row, column) = (2, 2, 3))
a3 = np.array([[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]]])
print(a3)

[[[ 1  2  3]
  [ 4  5  6]]

 [[ 7  8  9]
  [10 11 12]]]

## Inspect arrays

In [ ]:
# Array shape
print(a1.shape)
print(a2.shape)
print(a3.shape)

(3,)
(2, 3)
(2, 2, 3)

In [ ]:
# Data type of array elements
print(a1.dtype)

# notes:
# Int16 -- (-32,768 to +32,767)
# Int32 -- (-2,147,483,648 to +2,147,483,647)
# Int64 -- (-9,223,372,036,854,775,808 to +9,223,372,036,854,775,807)

int64

In [ ]:
# Convert an array to a different type (int to float)
a1.astype('float')

array([1., 2., 3.])

In [ ]:
# Convert an array to a list
a1.tolist()

[1, 2, 3]

## Initial placeholders and sequences

In [ ]:
# Create an array of zeros (3 rows and 4 columns)
np.zeros((3, 4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [ ]:
# Create an array of evenly-spaced values by specifying step size (= 5)
np.arange(10, 25, 5)

array([10, 15, 20])

In [ ]:
# create an array of evenly-spaced values by specifying number of samples (= 9)
np.linspace(0, 2, 9)

array([0.  , 0.25, 0.5 , 0.75, 1.  , 1.25, 1.5 , 1.75, 2.  ])

## Reshape arrays

In [ ]:
# Flatten a rank-2 array to a rank-1 array
arr2 = np.array([[10, 8], [4, 2], [9, 11]])
print(arr2)
print('\n')

print(arr2.flatten()) # option 1
print(arr2.ravel()) # option 2

[[10  8]
 [ 4  2]
 [ 9 11]]


[10  8  4  2  9 11]
[10  8  4  2  9 11]

In [ ]:
# Transpose (reserse rows and columns)
print(arr2)
print()
print(arr2.T)
print()
print(arr2.transpose())

[[10  8]
 [ 4  2]
 [ 9 11]]

[[10  4  9]
 [ 8  2 11]]

[[10  4  9]
 [ 8  2 11]]

In [ ]:
# Reshape an array to 3 rows and 4 columns without changing data elements
# note: reshape() does not change the shape of the original array
arr3 = np.array([[1,2],[3,4],[5,6],[7,8],[9,10],[11,12]])
print(arr3)
print('\n')
print(arr3.reshape(3, 4))

[[ 1  2]
 [ 3  4]
 [ 5  6]
 [ 7  8]
 [ 9 10]
 [11 12]]


[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

## Combine arrays

In [ ]:
# Add array 2 as rows to the end of array 1
arr1 = np.array([[1, 2, 3], [4, 5, 6]])
arr2 = np.array([[-1, -2, -3], [-4, -5, -6]])
print(arr1)
print()
print(arr2)
print()
np.concatenate((arr1, arr2), axis = 0)

[[1 2 3]
 [4 5 6]]

[[-1 -2 -3]
 [-4 -5 -6]]

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [-1, -2, -3],
       [-4, -5, -6]])

In [ ]:
# Add array 2 as columns to the end of array 1
np.concatenate((arr1, arr2), axis = 1)

array([[ 1,  2,  3, -1, -2, -3],
       [ 4,  5,  6, -4, -5, -6]])

## Index an array

In [ ]:
# Return element based on index
x = np.arange(10)
print(x)
print()
print(x[2]) # index in a rank-1 array
print()

# Change the shape of array x from (10, ) to (2, 5)
x = x.reshape(2, 5)
print(x)
print()
print(x[0]) # index in a rank-2 array
print()
print(x[1, 0]) # index in a rank-2 array

[0 1 2 3 4 5 6 7 8 9]

2

[[0 1 2 3 4]
 [5 6 7 8 9]]

[0 1 2 3 4]

5

In [ ]:
# Return an array with boolean values
print(x <= 5)

[[ True  True  True  True  True]
 [ True False False False False]]

In [ ]:
# Mask an array
y = np.array([1, 2, 3, 4, 5, 6, 7, -10])
y <= 3
print('\n')
print(y[y <= 3])

[  1   2   3 -10]

## Vector math

In [ ]:
# Dot product (see definition: https://en.wikipedia.org/wiki/Dot_product)
# do it by hand:
# [[0*0 + 1*2 + 2*4 = 10, 0*1 + 1*3 + 2*5 = 13],
#  [3*0 + 4*2 + 5*4 = 28, 3*1 + 4*3 + 5*5 = 40]]
a1 = np.arange(6).reshape(2, 3)
a2 = np.arange(6).reshape(3, 2)
print(a1)
print()
print(a2)
print()
print(np.dot(a1, a2))

[[0 1 2]
 [3 4 5]]

[[0 1]
 [2 3]
 [4 5]]

[[10 13]
 [28 40]]

## Statistics (aggregate functions)

Read this tutorial to understand axes in numpy:
https://www.sharpsightlabs.com/blog/numpy-axes-explained/

In a nut shell, axis = 0 means "along the 0 axis"; axis = 1 means "along the 1 axis"

![image.png]()

In [ ]:
# Calculate the mean(s) of an array (same for sum, median, min, max, std, and var)
print(x)
print()
print(np.mean(x)) # return the overall mean of all elements in an array
print()
print(np.mean(x, axis = 0)) # return mean for each column
print()
print(np.mean(x, axis = 1)) # return mean for each row

[[0 1 2 3 4]
 [5 6 7 8 9]]

4.5

[2.5 3.5 4.5 5.5 6.5]

[2. 7.]